.notes-container {
    max-width: 280px;
    margin: 0 auto;
    background-color: white;
    margin-top: 20px;
  }
  
  .notes-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 20px;
    padding: 12px;
  }
  
  .notes-list {
    display: flex;
    flex-direction: column;
  }
  
  .note-item {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
  }
  
  .note-item span {
    margin-right: 6px;
  }