.notes-contrainer {
    max-width: 400px;
    margin: 0 auto;
}

.notes-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.notes-list {
    display: flex;
    flex-direction: column;
}

.note-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.note-item span {
    margin-right: 8px;
}