
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
}

.day {
    font-size: 18px;
    font-weight: bold;
    color: #3f51b5
}

.event {
    margin-top: 8px;
    font-size: 14px;
    color: #666666;
}

